$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$blue: #377DFF;
$red: #FF2D2D;
$light-red: #FF4646;
$green: #7CE761;
$light-green: #8EEA77;
$orange: #FFA800;
$light-orange: #FFB21A;
$light-black: #1D1D1D;
$black: #000;
$white: #fff;
$gray: #464646;
$back-gray: #383638;

$light-gray: #E2E2E2;
$dark: #0E0E0E;
$dark-blue: #0B0F15;